body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

#app {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px; 
    text-align: center;
    position: static;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

nav button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    color: #555;
}

nav button.active {
    color: red;
    font-weight: bold;
}

#catCard {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#catContainer {
    background-color: #f9f9f9;
    color: #333;
    max-height: 400px; 
}

#catContainer img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

#topFavoriteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
}

#breedSelector {
    position: relative;
    margin-bottom: 20px;
}

#breedSearch {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#breedList {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 1000;
}

#breedList li {
    padding: 10px;
    cursor: pointer;
}

#breedList li:hover {
    background-color: #f0f0f0;
}

#breedInfo {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#votingButtons, #votingContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

#votingButtons button, #votingContainer button {
    font-size: 24px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #555;
}

 
 